<!doctype html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115129666-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115129666-1');
</script>

	<title>Application History</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark red lighten-1 mb-4">

<a class="navbar-brand mx-auto" href="#">&ensp;&ensp;&ensp;&ensp;&ensp;Application History</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23" aria-controls="navbarSupportedContent23"
        aria-expanded="false" aria-label="Toggle navigation"><div class="animated-icon3"><span></span><span></span><span></span><span></span></div></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent23">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="profile">My Profile</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="bookmarks">Bookmarks</a>
	    </li>-->
            <li class="nav-item active">
                <a class="nav-link" href="#">Application History<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
		    <a class="nav-link" {{#if logged_in}}id="logoutButton">Log Out</a>{{else}}onclick="fb_login();">Log In</a>{{/if}}
            </li>
        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->
  
</nav>

<!--Bookmarks entries-->
<div style="margin-top:20px">
{{#each jobs}}
<a href="/appHistory_jobDesc">
<div class="media border">
    <div class="media-left">
        <img src={{company_logo}} width="100" height="100" style="box-shadow:none; padding:5px;">
    </div>
    <div class="media-body">
        <h6 class="media-heading">{{title}}</h6></br>
        <h6>{{company}}</h6>
        <p>{{location}}</p>
    </div>
    <div class="media-right" style="margin-right: 18px; margin-top: 80px; color:red">
	    <p> Status: {{status}}</p>
    </div>
</div>
</a>
{{/each}}
</div>

<!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
     {{> facebook}}
    <script type="text/javascript" src="/js/facebook.js"></script>
<script type="text/javascript" src="/js/job_desc.js"></script>
<script type="text/javascript" src="/js/logout.js"></script>
</body>
</html>
