<!doctype html>
<html>
<head>
	<title>Job Description-Bookmarked</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark red lighten-1 mb-4">
<a href="bookmarks" class="fa fa-angle-left fa-3x" style="color: #ffffff"></a>
<a class="navbar-brand mx-auto" href="#">Job Description</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23" aria-controls="navbarSupportedContent23"
        aria-expanded="false" aria-label="Toggle navigation"><div class="animated-icon3"><span></span><span></span><span></span><span></span></div></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent23">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Profile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="bookmarks">Bookmarks<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Application History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Log In</a>
            </li>
        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->
  
</nav>
<div class="jobContainer" style="margin-bottom: 100px;">
<div class="media">
	<div class="media-left">
		<img src={{bookmark_jobDesc.img}} width="100" height="100">
	</div>
	<div class="media-body">
		<p class="media-heading">{{bookmark_jobDesc.Position}}</p>
		<p>{{bookmark_jobDesc.Company}}</p>
		<p>{{bookmark_jobDesc.Location}}</p>
	</div>
    <span class="media-right fa fa-bookmark fa-2x" style="margin-right: 50px; margin-top: 50px"></span>
</div>

<h4>Description</h4>
<p>{{bookmark_jobDesc.Description}}</p>
<h4>Requirements</h4>
<ul>
{{#each bookmark_jobDesc.Requirements}}
<li>{{this}}</li>
{{/each}}
</ul>
</div>

<nav class="navbar fixed-bottom" style="background-color: white;margin-top: 20px;">
	<a class="navbar-brand mx-auto" href="#">Apply</a>
</nav>

<!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
</body>
</html>
