<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
+<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115129666-1"></script>
+<script>
+  window.dataLayer = window.dataLayer || [];
+  function gtag(){dataLayer.push(arguments);}
+  gtag('js', new Date());
+
+  gtag('config', 'UA-115129666-1');
+</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Bot</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Start your project here-->
    <!--Navbar-->
<nav class="navbar navbar-dark red lighten-1 mb-4">

    <!-- Navbar brand -->
     <div class="middle"><a class="navbar-brand mx-auto" href="#">Job Bot</a></div>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23" aria-controls="navbarSupportedContent23"
        aria-expanded="false" aria-label="Toggle navigation"><div class="animated-icon3"><span></span><span></span><span></span><span></span></div></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent23">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">My Profile</a>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link" href="bookmarks">Bookmarks</a>
	    </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/appHistory">Application History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
            </li>
        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->
 
</nav>
<!--/.Navbar-->
    <!--Search bar-->
<div class="input-group md-form form-sm form-2 pl-0" style="margin-top:-24px;">
    <input class="form-control my-0 py-1 red-border" type="text" id="searchBox" placeholder="Search jobs, positions, etc." aria-label="Search">
    <span class="input-group-addon red lighten-3 my-0 py-2" id="basic-addon1"><i id="search_button" class="fa fa-search text-grey" aria-hidden="true"></i></span>
</div>

<!--Filter button-->
{{#unless viewAlt}}
<div class="dropdown">
<button id="filter-button" data-toggle="dropdown" type="button" style="margin-top:-15px" class="btn btn-red float-right btn-sm dropdown-toggle">Filter</button>
<div class="dropdown-menu" aria-labelledby="filter-button">
	<a id="bookmarked-only" class="dropdown-item" href="#">Bookmarks</a>
	<a id="no-filter" class="dropdown-item" href="#">No Filter</a>
</div>
</div>
{{/unless}}

{{#if viewAlt}}
<div class="dropdown">
<button id="filter-button" data-toggle="dropdown" type="button" style="margin-top:-15px" class="btn btn-red float-right btn-sm dropdown-toggle">Show All</button>
<div class="dropdown-menu" aria-labelledby="filter-button">
    <a id="bookmarked-only" class="dropdown-item" href="#">Show Bookmarks</a>
    <a id="no-filter" class="dropdown-item" href="#">Show All</a>
</div>
</div>
{{/if}}

<!--Jobs entries-->
<div style="margin-top:50px" id="job_list">
{{#unless viewAlt}}
{{#each jobs}}
<div class="job_posting">
<a href="/job_desc/{{id}}" {{#unless Bookmarked}}class="unbookmarked"{{/unless}}>
<div class="media border">
	<div class="media-left">
		<img src={{company_logo}} width="100" height="100" style="box-shadow:none; padding:5px;">
	</div>
	<div class="media-body">
		<h6 class="media-heading">{{title}}</h6></br>
		<h6>{{company}}</h6>
		<p>{{location}}</p>
	</div>
	<!--<a href="/addBookmark/{{id}}/index"> -->
	<span class="media-right fa fa-bookmark{{#unless Bookmarked}}-o{{/unless}} fa-2x" style="margin-right: 50px; margin-top: 50px"></span>
	<!--</a> -->
</div>
</a>
</div>
{{/each}}
{{/unless}}

{{#if viewAlt}}
{{#each jobs}}
<div class="job_posting {{#unless Bookmarked}}unbookmarked{{/unless}}">
<div class="media border">

	<div class="media-left">
	    <a href="/job_desc/{{id}}">
		<img src={{company_logo}} width="100" height="100" style="box-shadow:none; padding:5px;">
	    </a>
	</div>
	</a>

	<div class="media-body">
	<a href="/job_desc/{{id}}">
		<h6 class="media-heading">{{title}}</h6></br>
	</a>
	<a href="/job_desc/{{id}}">
		<h6>{{company}}</h6>
	</a>
	<a href="/job_desc/{{id}}">
		<p>{{location}}</p>
	</a>
	</div>
	<a href="#">
		<span id={{id}} class="media-right fa fa-bookmark{{#unless Bookmarked}}-o{{/unless}} fa-2x bookmarkIcon" style="margin-right: 50px; margin-top: 50px"></span>
	</a>
</div>
</a>
</div>
{{/each}}
{{/if}}

</div>
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>
