<!doctype html>
<html>
<head>
	<title>Job Description</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark red lighten-1 mb-4">
<a class="navbar-brand mx-auto" href="#">Job Description</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23" aria-controls="navbarSupportedContent23"
        aria-expanded="false" aria-label="Toggle navigation"><div class="animated-icon3"><span></span><span></span><span></span><span></span></div></button>
</nav>
<div class="media">
	<div class="media-left">
		<img src={{job_desc.img}} width="100" height="100">
	</div>
	<div class="media-body">
		<p class="media-heading">{{job_desc.Position}}</p>
		<p>{{job_desc.Company}}</p>
		<p>{{job_desc.Location}}</p>
	</div>
</div>

<h4>Description</h4>
<p>{{job_desc.Description}}</p>
<h4>Requirements</h4>
<ul>
{{#each job_desc.Requirements}}
<li>{{this}}</li>
{{/each}}
</ul>


<nav class="navbar fixed-bottom">
	<a class="navbar-brand mx-auto" href="#">Bookmark</a>
	<a class="navbar-brand mx-auto" href="#">Apply</a>
</nav>

<!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
</body>
</html>
